<div class="row" >
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body" *ngIf="isArtist == true; else elseBlock">
        <img class="card-img2" src="{{imagemPerfil}}"/>
        <div class="nomeUsuario">
          <p id="nome_usuario" class="card-text artist"><strong>{{ thisUserName }} </strong></p>
          <p class="genre">{{ genero }}</p> 
        

        </div>

      </div> 
      <ng-template #elseBlock>
      <div class="card-body">
        <img class="card-img2" src="{{imagemPerfil}}"/>
        <div class="nomeUsuario">
          <p id="nome_usuario" class="card-text artist"><strong>{{ thisUserName }} </strong></p>
          <p class="genre">{{ thisUser }}</p> 
          <!-- <p> NÃO É ARTISTA</p> -->
        </div>    
     </div>
    </ng-template>

    </div>
  </div>
</div>




  


