<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <img class="card-img" src="https://i1.sndcdn.com/artworks-000544258245-ongnzz-t500x500.jpg" />
        <div class="nomeUsuario">
          <p id="nome_usuario" class="card-text artist"><strong>{{ thisUserName }} </strong></p>
          <p class="genre">{{ thisUser }}</p> 
<!--           <br /><br /><br /><br /><br />
          <p class="genre">Próximos shows: 20/11 - Baile da penha</p> -->
        </div>

        <!--<input id="artista.nome_usuario" type="checkbox" (click)="seguir(artista.nome_usuario, artista.key)" />	
        -->
        </div> 

    </div>
  </div>
</div>