<nav class="navbar fixed-top navbar-light bg-white">
    <div class="container">
      <div class="logo" (click)="home()"></div>
      <div>
        <div class="search" (click)="procurar()"></div>
        <!--<a class="sair" href="#" (click)="sair()" style="margin-left: 15px">Sair</a>-->
        <div class="perfil" (click)="meuPerfil()"></div>
        <!--<button type="button" class="btn btn-primary">Meu perfil</button>-->
      </div>
    </div>  
  </nav>
  
  <br /><br /><br />
  <div class="container">
    <app-usuarios #usuarios (atualizarTimeline)="atualizarTimeline()"></app-usuarios>
  </div>