<div class="card" style="width: 20rem;">
    <div class="card-body">
      <div class="card-title"></div>
      
      <form [formGroup]="formulario" (ngSubmit)="redefinirSenha()">
        <div class="form-group" >
          <input 
            type="email" 
            class="form-control" 
            placeholder="E-mail"
            formControlName="email"
            
          >
        </div>

        <button type="submit" class="btn btn-primary btn-sm btn-block">Enviar redefinição de senha</button>
      </form>
      <hr />
  
      <p class="small text-center" >Ao cadastrar-se, você concorda com nossos <a href="http://showin.com.br/termos.html" target="_blank"> <b>Termos</b> e <b>Política de Privacidade</b></a>.</p>
  
    </div>
  </div>
  <br />
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text">
        Tem uma conta? <a href="#" (click)="exibirPainelLogin()" class="card-link">Faça login</a>
      </p> 
    </div>
  </div>