<div class="row" *ngFor="let publicacao of publicacoes">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="apagarPublicacao(publicacao.key)" *ngIf="publicacao.nome_usuario == usuarioAtual">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="card-text"><strong>{{ publicacao.nome_usuario }}</strong></p>
      </div>

      <img class="card-img" [src]="publicacao.url_imagem || ''" />
      
      <div class="card-body">
        <b><p class="titulo" *ngIf="publicacao.isArtist==true && publicacao.titulo != null">
           Evento: {{ publicacao.titulo }}
        </p></b>

        <input class="botao2" 
        *ngIf="publicacao.isArtist==true"
        id="botao" 
        type="checkbox" 
        (click)="seguir(usuario.nome_usuario, usuario.key)" 
      />

        <hr *ngIf="publicacao.isArtist==true && publicacao.titulo != null"/>
        <p class="card-text">
          {{ publicacao.descricao }}
        </p>
        <input class="botao" 
          *ngIf="publicacao.isArtist==false"
          id="botao" 
          type="checkbox" 
          (click)="seguir(usuario.nome_usuario, usuario.key)" 
        />
        <hr  *ngIf="publicacao.isArtist==true && publicacao.data != null"/>
        <p class="card-text" *ngIf="publicacao.isArtist==true && publicacao.data != null">
          Data: {{ publicacao.data }}
          </p>
        <hr  *ngIf="publicacao.isArtist==true && publicacao.local != null"/>
        <p class="card-text" *ngIf="publicacao.isArtist==true && publicacao.local != null">
          Local: {{ publicacao.local }}
         </p>

      <hr *ngIf="publicacao.isArtist==true && publicacao.compra != null"/>
      <p class="card-text" *ngIf="publicacao.isArtist==true  && publicacao.compra != null">
          <a [href]="publicacao.compra" target="_blank">Comprar ingresso</a>
      </p>
      <hr *ngIf="publicacao.isArtist==true && publicacao.titulo != null" />

      
      <div *ngFor="let comentario of publicacao.listaComentarios">
        <hr *ngIf="publicacao.listaComentarios.length > 0"/>
        <p class="card-text" >
          <strong>{{ comentario.usuario }}: </strong> {{ comentario.comentario }}
          
        </p>  
      </div>


      <hr />
      <input 
        id={{publicacao.key}}
        type="text" 
        class="form-control comentario"
        placeholder="Adicione um comentário..." 
      />
      <div class="comentar" (click)="comentar(publicacao.key, publicacao.nome_usuario)"></div>
 
    </div>
  </div>
</div>
