<div class="row" *ngFor="let publicacao of publicacoes">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>{{ publicacao.nome_usuario }}</strong></p>
      </div>

      <img class="card-img" [src]="publicacao.url_imagem || ''" />
      
      <div class="card-body">
        <b><p class="titulo" *ngIf="publicacao.isArtist==true && publicacao.titulo != null">
           Evento: {{ publicacao.titulo }}
        </p></b>

        <hr *ngIf="publicacao.isArtist==true && publicacao.titulo != null"/>
        <p class="card-text">
          {{ publicacao.descricao }}
        </p>
        <hr  *ngIf="publicacao.isArtist==true && publicacao.data != null"/>
        <p class="card-text" *ngIf="publicacao.isArtist==true && publicacao.data != null">
          Data: {{ publicacao.data }}
          </p>
        <hr  *ngIf="publicacao.isArtist==true && publicacao.local != null"/>
        <p class="card-text" *ngIf="publicacao.isArtist==true && publicacao.local != null">
          Local: {{ publicacao.local }}
         </p>

      <hr *ngIf="publicacao.isArtist==true && publicacao.compra != null"/>
      <p class="card-text" *ngIf="publicacao.isArtist==true  && publicacao.compra != null">
        <!-------------------------------------------------------------------------------->
          Link de compra: <a [href]="publicacao.compra">{{publicacao.compra}}</a>
        </p>
    <hr *ngIf="publicacao.isArtist==true && publicacao.titulo != null" />
 
    </div>
  </div>
</div>
