<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title">BABY'S CULTURE</div>
    
    <form [formGroup]="formulario" (ngSubmit)="autenticar()">
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="email"
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="senha"
        >
      </div>
      <button type="submit" style="background-color: #af12b9; border-color: #af12b9;" class="btn btn-primary btn-sm btn-block">Entrar</button>
    </form>
    <hr />

    <p id="txtmsg" class="small text-danger text-center"></p>
    
  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Esqueceu a senha? Clique em redefinir a senha <a href="#" (click)="redefinirSenha()" class="card-link">Redefinir senha</a>
    </p> 
    <hr/>
    <p class="card-text">
      Não tem uma conta? <a href="#" (click)="exibirPainelCadastro()" class="card-link">Cadastre-se</a>
    </p> 
  </div>
</div>