.navbar {
    height: 77px;
    padding: 26px 40px;
    width: 100%;
    border-bottom: solid 1px #E6E6E6;
}

.logo {
    background-image: url('/assets/logo-showin.png');
    background-size: 180px;
    background-repeat: no-repeat;
    width: 180px;
    height: 50px;
    float: left;
    margin-left: -50px;
}

.add-post {
    background-image: url('/assets/addicon.png');
    background-size: 34px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 0px;
}


.search {
    background-image: url('/assets/search.png');
    background-size: 28px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}
